@use "@material/list";

@include list.core-styles;

body {
  font: 14px "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row {
  display: flex;
  flex-wrap: nowrap;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 7rem;
  font-weight: bold;
  line-height: 8rem;
  height: 8rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 8rem;
}

.square:focus {
  outline: none;
}

.square.highlighted {
  background-color: #f1e740;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.move-description {
  margin-left: 5px;
}
